/* ------------------GENERAL-PROPERTIES--------------------*/
*{
	box-sizing: border-box;
}

*::before,
*::after{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

img{
	max-width: 100%;

}

ul,ol,li{
	margin:0;
	padding:0;
	list-style-type: none;
}

.btn-reset{
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding:0;
}

a{
	text-decoration: none;
	color: #E0E0E0;
}

a:hover{
	color: #E07748;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

.content-container{
	display: flex;
	justify-content: space-between;
}

.container{
	max-width: 1040px;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: content-box; /*нет прилипания краёв */
}

h2{
	text-align: center;
}

h4{
	font-weight: 400;
}

body{
    background-color: #232323;
    font-family: "Gordita", sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #E0E0E0;
}

/* -----------------------HEADER----------------------*/

.header{
	position: fixed;
	left:0;
	top: 0;
	width: 100%;
	z-index: 50;
	background-color: #232323;
}

.header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	min-height: 100px;
	align-items: center;
}

.logo{
	max-width: 50px;
	min-width: 30px;
	z-index: 1;
}

.menu-list{
	display: flex;
	flex-wrap: wrap;
}

.menu-item{
	margin: 0px 0px 0px 40px;
}

.menu-link{
	color: #E0E0E0;
	font-weight: 600;
	line-height: calc(24/14*100%);
}

.menu-btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.menu-btn_burger{
    display: none;
    width: 35px;
    height: 4px;
    background: #E8505B;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 4px;
    background: #E8505B;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-14px);
}

.menu-btn_burger::after{
    transform: translateY(14px);
}

/* анимация бургера в крест */
.menu-btn.open .menu-btn_burger{
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before{
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn_burger::after{
    transform: rotate(-45deg);
}

.menu-list.open {
    top: 0;
}

a.menu-link{
	position: relative;
}

a.menu-link:after {
	display: block;
	position: absolute;
	left: 0;  /* for underline direction*/
	width: 0;
	height: 3px; 
	background-color: #E8505B;
	content: "";
	transition: width 0.3s ease-out;
}
  
a.menu-link:hover:after,
a.menu-link:focus:after {
	width: 100%;
}

.background-title{
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%); 
	opacity: 3%;
	font-size: 96px;
	font-weight: 900;
}

.main-title{
	text-transform: uppercase;
	position: absolute;
	left: 50%;
	margin-right: -50%;
    transform: translate(-50%, -50%); 
	color: #E8505B;
	font-size: 50px;
	font-weight: 600;
}

.title{
	opacity: 0;
	transition: 2s ease-out;
}

/* ------------------PORTFOLIO-PAGE-------------------*/

.artgallery{
	position: relative;
	top: 100px;
	margin-top: 100px;
}

.portfolio-content{
	display: flex;
	justify-content: space-around;
	opacity: 0;
	transform: translateX(-5%);
	transition: 2s ease-out;
}

.side-title-right span{
	position: sticky;
	top: 100px;
}

.side-artgallery{
	display: flex;
	flex-basis: 80%;
	flex-wrap: wrap;
    padding: 0 4px;
}

.side-artgallery-item{
	flex: 50%;
    max-width: 50%;
    padding: 6px 6px;
}

.side-artgallery-item img{
	width: 100%;
}

.side-title-left span{
	position: sticky;
	top: 100px;
}

.sticky{
	text-transform: uppercase;
	opacity: 0;
	transform: translateX(-10%);
	transition: 2s ease-out;
}


/* ------------------MAIN-PAGE-(HOME)-------------------*/

main{
	margin-top: 150px;
}

.hero-title{
	color: #E8505B;
	font-size: 50px;
	font-weight: 700;
}

.latest_works{
	position: relative;
	top: 100px;
}
.latest_works-title{
	color:#E8505B;
	opacity: 0;
	transform: translate(0px, -50%);
	transition: 2s ease-out;
}
.latest_works-container{
	display: flex;
	justify-content: space-between;
	opacity: 0;
	transform: translate(0px, 20%);
	transition: 2s ease-out;
}
.latest_works-item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 3px solid #E0E0E0;
	padding: 10px;
	width: 330px;
	height: 200px;
	font-size: 14px;
}
.latest_works-img{
	max-width: 144px;
	max-height: 144px;
}
.latest_works-item .subtitle{
	font-size: 18px;
}
.latest_works-descr{
	opacity: 50%;
}
.arrow{
	float: right;
	opacity: 0;
}
.latest_works-item:hover .arrow {
	transform: translateX(30%);
	transition: all 1s ease;
	opacity:80%;
}
.latest_works-item:hover{
	box-shadow: -10px 10px 5px #1b1b1b;
	transform: translateY(-5px);
	transition: all 0.5s ease-in-out;
}
a .latest_works-item{
	color: #E0E0E0;
}

.side-hero{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.hero-me{
	max-width: 50%;
	max-height: 50%;
	float: right;
	animation: moving 2.2s infinite;
}

.home-image{
	opacity: 0;
	transform: translate(20%, 0px);
	transition: 2s ease-out;
}

@keyframes moving {
	0% {
	  	transform: translateY(-35px);
	}
	50% {
	  	transform: translateY(-20px);
	}
	100% {
	  	transform: translateY(-35px);
	}
}

@-webkit-keyframes moving {
	0% {
	  	transform: translateY(-35px);
	}
	50% {
	  	transform: translateY(-20px);
	}
	100% {
	  	transform: translateY(-35px);
	}
}

.hero-content{
	display: flex;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	transform: translate(-20%, 0px);
	transition: 2s ease-out;
}

.hero-subtitle{
	color: #E0E0E0;
}

.hero-descr{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	margin-bottom: 30px;
}

.hero-descr li{
	padding-bottom: 10px;
}

button.contact{
	font-weight: 600;
	font-size: 14px;
	color: #E0E0E0;
	border: none;
	padding: 20px;
	transition: .5s;
	position: relative;
}

button.contact:hover{
	color:#E8505B;
}

button.contact::after{
	position: absolute;
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border-width: 4px;
	border-style: solid;
	right: -3px;
	top: -3px;
	border-bottom: none;
	border-left: none;
	transition: .5s;
}

button.contact:hover::after{
	width: 100%;
	height: 0%;
	right: 0;
	border-color: #E8505B;
}

button.contact:hover::before{
	width: 100%;
	height: 0%;
	left: 0;
	border-color: #E8505B;
}

button.contact::before{
	position: absolute;
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border-width: 4px;
	border-style: solid;
	left: -3px;
	bottom: -3px;
	border-top: none;
	border-right: none;
	transition: .5s;
}


/* -----------------------FOOTER------------------------*/

.footer{
	height: 80px;
	position: relative;
	top: 150px;
	background-color: #202020;
	display: flex;
	align-items: center;
}

.copyright{
	opacity: 30%;
}


/* --------------------SERVICES-PAGE---------------------*/

a .service-item {
	color:#E0E0E0;
}

.service-item:hover .arrow{
	transform: translateX(30%);
	transition: all 1s ease;
	opacity:80%;
}

.service-item:hover{
	box-shadow: -6px 6px 15px #1b1b1b;
	transform: translateY(-5px);
	transition: all 0.5s ease-in-out;
}

.services{
	position: relative;
	top: 100px;
}

.service-descr{
	opacity: 50%;
}

.service-item{
	border: 3px solid #E0E0E0;
	padding: 20px;
	max-width: 300px;
	min-height: 200px;
}

.services-container{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	max-width: 640px;
	margin: 0 auto;
}

.row{
	display: flex;
	justify-content: center;
	padding: 25px 0px;
	justify-content: space-between;
	opacity: 0;
	transform: translate(0px,10%);
	transition: 1s ease-out;
}


/* --------------------ABOUT-PAGE---------------------*/

.about-container{
	position: relative;
	top: 35px;
	display: flex;
	justify-content: space-between;
}

.about-subtitle{
	text-align: center;
	
}

.skills{
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
	justify-content: center;
	opacity: 0;
	transform: translate(-20%,0px);
	transition: 2s ease-out;
}

.info{
	display: flex;
	flex-basis: 40%;
	justify-content: center;
	margin-left: 30px;
	opacity: 0;
	transform: translate(20%,0px);
	transition: 2s ease-out;
}

.info-item{
	margin-top: 70px;
}

.box li h4{
	margin-bottom: 15px;
	font-weight: 600;
}


@keyframes load{
	0%{
		width: 0%;
	}
}

.bar-label{
	display: flex;
	justify-content: space-between;
}

.bar{
	position: relative;
	width: 100%;
	height: 18px;
	margin-bottom: 10px;
	background-color: #263238;
}

.bar1{
	width: 65%;
}

.bar2{
	width: 60%;
}

.bar3{
	width: 20%;
}

.bar4{
	width: 80%;
}

.bar5{
	width: 30%;
}

.bar6{
	width: 20%;
}

.bar1,.bar2,.bar3,.bar4,.bar5,.bar6{
	height: 18px;
	background-color: #E8505B;
	content:"";
	display: inline-block;
	animation: load 3s 0s;
}


/* ------------------CONTACT-PAGE-------------------*/

.form-container{
	position: relative;
	top: 80px;
	display: flex;
	justify-content: space-between;
}

.form-section{
	flex-basis: 50%;
	opacity: 0;
	transform: translate(-20%,0px);
	transition: 2s ease-out;
}

.form{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 20px;
}

.field{
	margin: 20px 0;
	border-bottom: 1px solid #E0E0E0;
	width: 100%;
}

.contacts-section{
	flex-basis: 50%;
	padding: 20px;
	display: flex;
	justify-content:space-around;
	opacity: 0;
	transform: translate(20%,0px);
	transition: 2s ease-out;
}

.contacts{
	margin-top: 20px;
	height: 80%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.contacts-subtitle{
	position: relative;
	top: 80px;
	text-align: center;
	opacity: 0;
	transform: translate(0px,100%);
	transition: 2s ease-out;
}

.conctact-item{
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.conctact-item-descr{
	margin-top: 10px;
	opacity: 30%;
}

input, select, textarea{
	margin-bottom:10px;
  	padding:10px;
	padding-top:20px;
	background: none;
	outline: none;
	border: none;
	color:  #E0E0E0;
	width: 100%;
}

textarea{
	line-height: 150%;
	max-height: 400px;
	resize: none;
	overflow:hidden;
	display:block;
}

textarea::-webkit-scrollbar{
	width: 0px;
}

#submitBtn{
	margin-top: 30px;
	padding: 20px;
	color: #E0E0E0;
	border: 3px solid #E0E0E0;
	outline: none;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	transition: all .3s;
}

#submitBtn:hover{
	color: #E8505B;
	cursor: pointer;
	border: 3px solid #E8505B;
}


/* ----------------CLASSES-FOR-JAVASCRIPT--------------------*/

.active{
	opacity: 1;
	transform: translate(0px, 0px);
}


/* ---------------------MEDIA-QUERY------------------------- */

@media screen and (max-width: 1040px) {

	.latest_works-container{
		flex-direction: column;
		align-items: center;
	}

	.latest_works-item{
		margin-bottom: 30px
	}
}

@media (max-width: 768px) {

	.header-container{
		min-height: 60px;
	}

	.latest_works-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.latest_works-item{
		margin: 20px;
		min-width: 300px;
		height: 200px;
	}

	.hero-me{
		display: none;
	}

	.hero-content{
		display: flex;
		align-items: center;
		text-align: center;
	}

	.side-hero{
		display: block;
	}
	
	.service-item{
		padding: 10px;
		max-width: 250px;
		max-height: 166px;
	}

	.menu-btn{
        display: flex;
    }

    .menu-btn_burger{
        display:block;
    }

    .menu-list{
        position: fixed;
        top: -100%;
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        z-index: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #232323;
        transition: top 1s ease;
    }
    
    .menu-item{
        margin: 0px 0px 30px 0px;
    }

	.about-container{
		flex-direction: column;
		width: 80%;
		justify-content: space-around;
	}

	.info,.skills{
		margin-top: 50px;
	}
	
	.form-container{
		top: 20px;
		flex-direction: column-reverse;
	}

	.conctact-item{
		margin-top: 80px;
		margin-bottom: 10px;
	}

}

@media (max-width: 600px){

	.background-title{
		font-size: 50px;
	}

	.main-title{
		font-size: 30px;
	}

	.row{
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px;
	}

	.service-item{
		margin-bottom: 50px;
		max-width: 250px;
		max-height: 166px;
	}

	.side-title-right span{
		text-align: center;
	}

	.side-title-left span{
		text-align: center;
	}

	.side-artgallery-item{
		flex: 100%;
		max-width: 100%;
		padding: 6px 6px;
	}
	
}
